body, p, h1, ul, li, blockquote{
    padding:0;
    margin:0;
}
body{
    font-family: 'Vollkorn', Georgia, serif;
    background:lightgray;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
    border-radius: 5px;
}

/* MAIN  */

.container{
    display:grid;

    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas:
    "header header header"
    "sidenav content ads"
    "footer footer footer"
    ;   
}

/* HEADER  */

.header{
    grid-area: header;
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    padding:30px;
}

/*      HEADER            */
.header nav ul{
    display: flex;
    flex-wrap: wrap;
}
.header nav a{
    display: block;
    padding: 10px;

    color:white;
    font-size: 1.125em;
    background: rgba(0,0,0, 0.1);
    border-radius: 5px;

    transition: 0.3s;
}
.header nav a:hover{
    background: rgba(0,0,0,0.3);
}
.header li + li{
    margin-left: 30px;
}
.logo{
    max-width:200px;
}

.title{
    color: #b07dfb;
}

.title h1{
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.title span{
    font-size: 0.875em;
    font-style: italic;
}

.characteristics{
    display: flex;

    align-items: flex-start;
}
.characteristics > div{
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44,.15);

    position: relative;
}

.characteristics > div:first-child{
    margin-right: 30px ;
}
.characteristics span{
    display: block;
    color: #b07dfb;
}
.number{
    color:#b07dfb;
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}
.label{
    background: white;
    border-radius:  0 0 5px 5px;
    padding: 5px 0;

    position: relative;
    top:2px;
}

/*  SIDENAV   */

.sidenav{
    grid-area: sidenav;
    
    background:#FAFBFC;
    padding:60px;
}

.sidenav li a{
    display: block;
    min-width: 60px;
    max-width: 100px;
    background:white;
    padding:20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44,.15);

     margin: 0 auto 30px auto;

     transition:0.3s;
}
.sidenav li a:hover{
    background: #b07dfb;
}

/* CONTENT  */

.content{
    grid-area: content;

    max-width: 900px;
    margin: 0 auto;
    padding:30px;
    background:#fafafa;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.col-wide{
    grid-column: 1/-1;
}

.img-1{
    grid-row: span 2;
    align-self: end;
}

.img-2{
    align-self: end;
}

p{
    font-weight: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color:rgba(0,0,0,.7)
}

.info p+p{
    margin-top: 30px;
}

/* ADS  */

.ads{
    grid-area: ads;

    background:#FAFBFC;
    display: grid;
    align-content: start;
    padding:30px;
    grid-gap: 30px;
}

/* FOOTER  */

.footer{
    grid-area: footer;

    background: linear-gradient(135deg, #8844ee, #b07dfb);
}
.footer p{
    color:white;
    text-align: center;
    padding:30px;
}